body {

}

.navbar-brand.mb-0 {
  font-family: 'Racing Sans One', cursive !important;
}

#titleText {
  font-style: italic;
}

img {
  margin-bottom: -20px;
  margin-right: 20px;
}

h1 {
  font-family: 'Racing Sans One', cursive !important;
  text-decoration: underline;
}

h2 {
  font-family: 'Racing Sans One', cursive !important;
  text-decoration: underline;

}

/*!*Tables*!*/
th.tableHead {
  font-family: 'Racing Sans One', cursive !important;
  text-decoration: underline;
  font-size: 30px;
}

tr {
  font-family: 'Racing Sans One', cursive !important;
  font-size: 30px !important;
}

td.name {
  padding-right: 20px;
}

td.name2 {
  padding-right: 20px;
}

td.name3 {
  padding-right: 20px;
}

tbody#myTable tr th {
  font-size: 45px !important;
}

tbody#myTable2 tr th {
  font-size: 45px !important;
}

tbody#myTable3 tr th {
  font-size: 45px !important;
}